@model TuLote.Models.Lote

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-warning">Detalle</h1>

<div>
    <h4 class="text-secondary">Lote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Metros)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Metros)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Etapa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Etapa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orientacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orientacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disponible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barrio.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barrio.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>


