@model IEnumerable<Lote>

    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<h1 class="text-white">Lotes</h1>

<div class="row">
    <div class="col-8">
        <a asp-action="Crear" class="btn btn-success mb-3">Crear Lote</a>
        <a asp-action="LotesPDF" class="btn btn-danger mb-3">Exportar a PDF</a>
    </div>

</div>

@if (Model.Count() > 0)
{
    <div class="container">
        <div class="Row">
            <div class="col-md-6">
                <table class="table table-light table-striped table-bordered" id="MiTabla">
                    <thead>
                        <tr class=col-md-12>
                            <th scope="col" class=col-md-4>Número de Lote</th>
                            <th scope="col" class=col-md-2>Metros</th>
                            <th scope="col" class=col-md-2>Etapa</th>
                            <th scope="col" class=col-md-4>Orientación</th>
                            <th scope="col" class=col-md-2>Precio</th>
                            <th scope="col" class=col-md-2>Disponible</th>
                            <th scope="col" class=col-md-2>Barrio</th>
                            <th scope="col" class=col-md-2>Localidad</th>
                            <th scope="col" class=col-md-2>Fecha de creación</th>
                            <th scope="col" class=col-md-2>Agente</th>
                            <th scope="col" class=col-md-2>Acciones</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="col-md-6 text-center">
                                <td class="text-danger" scope="col">@item.Numero</td>
                                <td scope="col">@item.Metros</td>
                                <td scope="col">@item.Etapa</td>
                                <td class="text-primary" scope="col">@item.Orientacion</td>
                                <td scope="col">@item.Precio</td>
                                <td scope="col">@item.Disponible</td>
                                <td scope="col">@item.Barrio.Nombre</td>
                                <td scope="col">@item.Barrio.Localidad.Nombre</td>
                                <td scope="col">@item.FechaCreacion.ToString("dd/MM/yy")</td>
                                <td class="text-success" scope="col">@item.Usuario.Alias</td>
                                <td scope="col">
                                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>

}
else
{
    <p>No hay categrías para mostrar</p>
}

@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
    $('#MiTabla').DataTable({
    "language": {
    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
    },
    "aLengthMenu": [
    [10,25, 50, 100, 200, -1],
    [10,25, 50, 100, 200, "Todos"]
    ]
    });
    });
</script>
}